/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* General */
html {
  background-color: #9999ff;
}
article {
  padding-top: 1em;
  padding-bottom: 0.1em;
  background-color: grey;
}
section {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  background-color: #b3b3ff;
}
h1.head, ul.link {
  text-align: center;
  padding-bottom: 0.2em;
  font-size: 1.5em;
  line-height: 1.5em;
}
a:visited {
  color: #6666ff;
}
ul.link, a:link {
  text-decoration: none; 
  display: flex;
  flex-direction: column;
  white-space: nowrap; 
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 0.2em;
  background-color: #ccccff;
}
ul.link:last-child {
  background-color: #9999ff;
}
footer {
  font-size: 1em;
  text-align: center;
}

/* Resume Page */
h2.info {
  font-size: 1.4em;
  padding-bottom: 0.25em;
  text-align: center;
  background-color:grey;
  margin-left: 2em;
  margin-right: 2em;
}
li.sub {
  font-size: 1em;
  text-align: center;
  padding-left: 1em;
}
ul.list {
  font-size: 0.8em;
  list-style-type: square;
  padding-bottom: 1em;
  color: #333333;
}

/* About Me Page */
h2.topic, h2.me {
  font-size: 1.4em;
  padding-bottom: 0.5em;
  padding-left: 0.6em;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
h3 {
  font-size: 1.25em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #262626;
} 
p.int {
  font-size: .9em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  line-height: 1.3em;
}

/* Media Page */
figure.image, figure.image2, figure.video {
  width: 50%;
  margin-left: auto;
  margin-right: auto; 
}
figcaption {
  text-align: center;
  padding-bottom: 1em;
}

@media screen and (min-width: 550px) {
  
  /* General */
  h1.head, ul.link {
    text-align: center;
    padding-bottom: 0.2em;
    font-size: 1.8em;
  }
  ul.link:last-child {
    padding-bottom: 0.5em;
  }
  footer {
    font-size: 1.2em;
    text-align: center;
  }

  /* Resume Page */
  h2.info {
    font-size: 1.6em;
    padding-bottom: 0.25em;
    text-align: center;
    background-color:grey;
    margin-left: 5em;
    margin-right: 5em;
  }
  li.sub {
    font-size: 1.2em;
    text-align: center;
  }
  ul.list {
    font-size: 0.8em;
    list-style-type: square;
    color: #333333;
  }

  /* About Me Page */
  h2.topic, h2.me {
    font-size: 1.6em;
    padding-bottom: 0.75em;
    padding-left: 0.6em;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
  }
  h3 {
    font-size: 1.45em;
    padding-top: 0.2em;
    padding-bottom: 0.75em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #262626;
  } 
  p.int {
    font-size: 1.25em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    line-height: 1.4em;
  }
  
  /* Media Page */
  figcaption {
    text-align: center;
    font-size: 1.35em;
  } 
}

@media screen and (min-width: 875px) {
  
  /* General */
  h1.head, ul.link {
    text-align: center;
    padding-bottom: 0.2em;
    font-size: 2.2em;
  }
  ul.link:last-child {
    padding-bottom: 0.5em;
  }
  footer {
    font-size: 1.5em;
    text-align: center;
  }
  
  /* Resume Page */
  h2.info {
    font-size: 1.8em;
    padding-bottom: 0.25em;
    text-align: center;
    background-color:grey;
    margin-left: 7em;
    margin-right: 7em;
  }
  li.sub {
    font-size: 1.5em;
    text-align: center;
  }
  ul.list {
    font-size: 0.8em;
    list-style-type: square;
    color: #333333;
  }
  
  /* About Me Page */
  h2.topic, h2.me {
    font-size: 1.8em;
    padding-bottom: 1em;
    padding-left: 0.6em;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
  }
  h3 {
    font-size: 1.65em;
    padding-top: 0.3em;
    padding-bottom: 1em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #262626;
  } 
  p.int {
    font-size: 1.5em;
    padding-left: 5em;
    padding-right: 5em;
    line-height: 1.5em;
  }
  
  /* Media Page */
  figure.video {
    width: 40%;
  }
  figcaption {
    text-align: center;
    font-size: 1.7em;
  } 
}